::-webkit-scrollbar
{
    width: 0;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 160px;
    z-index: 1000;
    transition: 1s;
    background: #2e2e2e;
}
header.sticky
{
    padding: 20px 100px;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
header.sticky .logo,
header.sticky ul li a
{
    color:#000;
}
header .logo
{
    position: relative;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 7px;
    transition: 0.6s;
}
header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 300;
    transition: .6s;
}
.sec1
{
    position: relative;
    width: 100%;
    height: 100vh;
    color: white;
    flex-flow: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec1 .banner
{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/brandbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.sec1 .sec1-imgBx
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    background: linear-gradient(75deg, rgba(255, 255, 255,.2), rgba(255, 255, 255,.7), transparent, rgba(255, 255, 255,.7),rgba(255, 255, 255,.2));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    box-shadow: inset 0 0 100px 20px rgb(141, 226, 43);
    padding: 0 500px;
}
.sec1 .sec1-imgBx h2
{
    width: 100%;
    text-align: center;
}
.sec1 .sec1-imgBx h2 p
{
    margin-top: 30px;
    text-align: center;
    width: 100%;
}
.sec1 .container
{
    width: 100%;
    background: red;
}
.sec1 .text
{
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 20%;
    transition: 0.8s cubic-bezier(1.000, -0.600, 0.000, 1.650);
    text-align: justify;
    opacity: 0;
}
.sec1 .text::before
{
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 100px;
    height: 2px;
    background: #fff;
}
.text.active
{
    opacity: 1;
    transform: translate(-200px,-300px);
}
.sec2
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #2e2e2e;
    flex-wrap: wrap;
    transition: 1s ease-in-out;
    overflow: hidden;
}
.sec2 .imgBx a
{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 10em;
    text-transform: uppercase;
}
.sec2.active .imgBx a
{
    animation: textanimate 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes textanimate
{
    0%
    {
        color: rgb(92, 255, 241);
        transform: translateY(0px);
    }
    20%
    {
        transform: translateY(-120px);
    }
    40%, 100%
    {
        color: white;
        transform: translateY(0px);
    }
}
.sec3
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    clip-path: circle(10%);
    transition: .5s ease-in-out;
    background: #2e2e2e;
    padding: 5%;
}
.sec3.active
{
    clip-path: circle(100%);
}

.sec3 .imgBx
{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 0px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-right: 2.5px solid white;
    /* background: linear-gradient(75deg, rgba(255, 10, 243, 0.541), rgba(182, 24, 174, 0.479),rgba(255, 15, 10, 0.637),rgba(60, 0, 228, 0.548)); */
    transition: 1s;
    box-shadow: inset 0px 0px 130px 20px rgba(0, 68, 255, 0.65);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sec3 .content
{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 0px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-left: 2.5px solid white;
    transition: 1s;
    /* background: linear-gradient(75deg, rgba(255, 255, 0, 0.541), rgba(0, 128, 0, 0.479),rgba(255, 255, 0, 0.637),rgba(0, 128, 0, 0.548)); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    color: white;
    box-shadow: inset 0px 0px 130px 20px rgba(255, 255, 255, 0.65);
}
.sec3 .content .details
{
    width: 100%;
}
.sec3 .content .details h2
{
    padding: 30px 0;
    font-size: 3em;
}
.sec3.active .imgBx,
.sec3.active .content
{
    height: 100%;
}
.sec3 .card
{
    position: relative;
}
.sec3 .card .face
{
    width: 300px;
    height: 200px;
    transition: 0.5s;
    border-radius: 20px 20px;
}
.sec3 .card .face.face1
{
    position: relative;
    background:#333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}
.sec3 .card:hover .face.face1
{
    background: #48a000;
    transform: translateY(0);
}
.sec3 .card .face.face1 .face-content
{
    opacity: 0.2;
    transition: 0.5s;
}
.sec3 .card:hover .face.face1 .face-content
{
    opacity: 1;
}
.sec3 .card .face.face1 .face-content img
{
    max-width: 100px;
    opacity: 1;
}
.sec3 .card .face.face1 .face-content h3
{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}
.sec3 .card .face.face2
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    /* box-shadow: 0 20px 50px rgba(0,0,0,0.8); */
    transform: translateY(-100px);
    border-radius: 20px 20px;
}
.sec3 .card:hover .face.face1
{
    border-radius: 20px 20px 0 0;
}
.sec3 .card:hover .face.face2
{
    transform: translateY(0);
    border-radius: 0 0 20px 20px;
    background:#fff;
}
.sec3 .card .face.face2 .face-content p
{
    margin: 0;
    padding: 0;
}
.sec3 .card .face.face2 .face-content a
{
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}
.sec3 .card .face.face2 .face-content a:hover
{
    background:#333;
    color: #fff;
}
#curtain
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    pointer-events: none;
}
#curtain span
{
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    display: block;
    transform-origin: bottom left;
    transition: 0.5s ease-in-out;
    transform: rotate(-90deg);
}
#curtain span:nth-child(1)
{
    /* background: #ff1f6b; */
    background: #dfdfdf;
    transform: rotate(-90deg);
    transition-delay: 0.2s;
}
#curtain span:nth-child(2)
{
    /* background: #219dff; */
    background: #d1d1d1;
    transform: rotate(-90deg);
    transition-delay: 0.1s;
}
#curtain span:nth-child(3)
{
    /* background: #111; */
    background: #c4c4c4;
    transform: rotate(-90deg);
    transition-delay: 0;
}
#curtain.active span:nth-child(1)
{
    z-index: 1;
    transition-delay: 0s;
    transform: rotate(0deg);
}
#curtain.active span:nth-child(2)
{
    z-index: 2;
    transition-delay: 0.1s;
    transform: rotate(0deg);
}
#curtain.active span:nth-child(3)
{
    z-index: 3;
    transition-delay: .2s;
    transform: rotate(0deg); 
}
.toggle {
    position: absolute;
    bottom: 20px;
    left: 50px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    pointer-events: all;
    margin: 15px;
    z-index: 10000000;
}
.toggle:before {
    content: "";
    position: absolute;
    top: 2px;
    width: 100%;
    height: 2px;
    background: #ff1f6b;
    z-index: 1;
    box-shadow: 0 10px 0 #ff1f6b;
    transition: 0.5s;
}
.toggle:after {
    content: "";
    position: absolute;
    bottom: 6px;
    width: 100%;
    height: 2px;
    background: #ff1f6b;
    z-index: 1;
    transition: 0.5s;
}
#curtain.active .toggle::before
{
    box-shadow: none;
    background: #fff;
    transform: translateY(10px) rotate(45deg);
}
#curtain.active .toggle::after
{
    transform: translateY(-10px) rotate(-45deg);
    background: #fff;
}
#curtain ul
{
    position: absolute;
    z-index: 100;
    transition: 0.5;
    visibility: hidden;
    opacity: 0;
    transition-delay: 0s;
}
#curtain.active ul
{
    visibility: visible;
    opacity: 1;
    transition-delay: 0.5s;
}
#curtain.active ul li
{
    list-style: none;
    margin: 10px 0;
}
#curtain.active ul li a
{
    pointer-events: all;
    text-decoration: none;
    color: #fff;
    font-size: 4em;
    text-align: center;
    display: block;
    font-family: consolas;
}
#effectBtn
{
    width: 100%;
    height: 100%;
    background: #2e2e2e;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .5;
    transition: 1s;
    box-shadow: inset 0px 0px 100px 10px white;
    filter: drop-shadow(0px 0px 5px rgb(0, 195, 255));
}
#effectBtn span:nth-child(1)
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: 1s;
}
#effectBtn span:nth-child(2)
{
    position: absolute;
    left: 0;
    width: 2px;
    height: 100%;
    background: #fff;
    transition: 1s;
}
#effectBtn span:nth-child(3)
{
    position: absolute;
    right: 0;
    width: 2px;
    height: 100%;
    background: #fff;
    transition: 1s;
}
#effectBtn span:nth-child(4)
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: 1s;
}
.sec2.active
{
    padding: 10%;
}
.sec2 .imgBX a
{
    color: white;
    font-size: 10em;
    text-decoration: none;
}
.sec2.active #effectBtn
{
    opacity: 1;
    background: linear-gradient(75deg, rgb(238, 17, 146), transparent, transparent, rgb(54, 54, 126));
}
.sec2.active #effectBtn span:nth-child(1)::before
{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 920px;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: animate1 1s linear infinite;

}
.sec2.active #effectBtn span:nth-child(2)::before
{
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 537px;
    background: linear-gradient(360deg, transparent, #fff);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
.sec2.active #effectBtn span:nth-child(3)::before
{
    content: "";
    position: absolute;
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fff);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
.sec2.active #effectBtn span:nth-child(4)::before
{
    content: "";
    position: absolute;
    bottom: 0;
    right: -100%;
    width: 920px;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fff);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
.sec4
{
    background: linear-gradient(90deg, rgb(23, 24, 90), rgb(153, 153, 153));
    width: 100%;
    height: 100vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.sec4 h2
{
    font-size: 10em;
    color: transparent;
    -webkit-background-clip: text;
    background-image: url(../img/pattern.png);
    position: relative;
}
.sec4 h2::before
{
    content: "";
    width: 0%;
    height: 180px;
    position: absolute;
    top: 20px;
    background: rgb(255, 255, 255);
    opacity: 0.3;
    animation: fill 1s ease-in-out forwards;
}
.sec4 h2::after
{
    content: "";
    width: 0%;
    height: 60px;
    position: absolute;
    top: 20px;
    background: linear-gradient(75deg, #fffa8f, #afafa8, #88ffaa);
    opacity: 0.3;
    animation: fill 1s ease-in-out forwards;
}
.sec4 p{
    line-height: 2em;
    font-size: 2em;
    color: white;
}
@keyframes fill
{
    0%
    {
        
    }
    100%
    {
        width: 100%;
    }
}
@keyframes animate1
{
    0%
    {
        left: -100%;
    }
    50%,100%
    {
        left: 100%;
    }
}
@keyframes animate2
{
    0%
    {
        top: -100%;
    }
    50%,100%
    {
        top : 100%;
    }
}
@keyframes animate3
{
    0%
    {
        right: -100%;
    }
    50%,100%
    {
        right: 100%;
    }
}
@keyframes animate4
{
    0%
    {
        bottom: -100%;
    }
    50%,100%
    {
        bottom: 100%;
    }
}