*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body
{
    overflow-x: hidden;
    background: gray;
}
.a11yhidden
{
    overflow: hidden;
    position: absolute !important;
    top: -10000em;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    z-index: -100;
}
header.sticky
{
    padding: 0px 0px 0px 20px;
}
header
{
    position: fixed;
    top:0;
    left: 0;
    z-index: 100000;
    width:100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 80px;
    transition: .4s ease-in-out;
    background: rgba(255, 255, 255,0.6);
    box-shadow: 0px 1px 5px rgb(141, 141, 141);
    .logo
    {
        font-size: 2em;
        span
        {
            color: rgb(0, 0, 0);
            display: inline-block;
            animation: logoAnim 1s ease-in-out infinite;
            animation-delay: calc(0.2s * var(--i));
        }
        span::before
        {
            content: attr(data-text);
            position: absolute;
            font-size: 12px;
            top: -10px;
            left: 0px;
            color: rgb(102, 86, 44);
            white-space: nowrap;
            width: 100%;
            text-align: center;
        }
    }
    .open-btn
    {
        width: 60px;
        height: 80px;
        background: none;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    .open-btn:hover,
    .open-btn:focus
    {
        background: rgb(238, 238, 238);
    }
    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 0;
        font-size: 0px;
        padding-right: 30px;
    }
    .toggle:before {
        content: "";
        position: absolute;
        top: 4px;
        width: 100%;
        height: 4px;
        background: black;
        z-index: 1;
        box-shadow: 0 10px 0 #000;
        transition: 0.5s;
    }
    .toggle:after {
        content: "";
        position: absolute;
        bottom: 2px;
        width: 100%;
        height: 4px;
        background: black;
        z-index: 1;
        transition: 0.5s;
    }
    nav
    {
        z-index: 10;
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(100%);
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.801);
        transition: 0.3s ease-in-out;
        ul
        {
            list-style: none;
            width: 100%;
            height: 100%;
            display: none;
            li
            {
                a
                {
                    color: white;
                    text-decoration: none;
                    width: 100%;
                    display: block;
                    font-size: 2em;
                    padding: 1em;
                }
                a::before
                {
                    content: "";
                    position: absolute;
                    bottom: calc(3% * var(--i));
                    left: 0;
                    width: 100%;
                    height: calc(10% * var(--i));
                    opacity: 0.25;
                    background: skyblue;
                    animation: boxeffect calc(2s * var(--i)) linear infinite alternate;
                    pointer-events: none;
                }
                a:focus,
                a:hover
                {
                    background: rgb(93, 93, 207);
                }
            }
 
        }
    }
}
@keyframes boxeffect
{
    0%
    {
        filter: hue-rotate(0deg);
        transform: translateX(-100%);
    }
    100%
    {
        filter: hue-rotate(360deg);
        transform: translateX(100%);
    }
}
@keyframes logoAnim
{
    0%
    {
        color: black;
        transform: translateY(0px);
    }
    20%
    {
        color: rgb(9, 95, 255);
        transform: translateY(20px);
    }
    40%, 100%
    {
        color: black;
        transform: translateY(0px);
    }
}
header.active
{
    .open-btn:hover,
    .open-btn:focus
    {
        background: rgb(46, 68, 190);
    }
    .toggle::before
    {
        background: white;
        box-shadow: none;
        transform: translateY(10px) rotate(45deg);
    }
    .toggle::after
    {
        background: white;
        transform: translateY(-10px) rotate(-45deg);
    }
    nav
    {
        transform: translateX(0);
        ul
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
main
{
    margin-top: 80px;
}
section
{
    width: 100%;
    height: 100vh;
}
.sec1:hover,
.sec1:focus-within
{
    figure::before
    {
        box-shadow: inset 0px 0px 0px 10px skyblue;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url(../img/pattern.png);
        background-size: 10px;
        filter: drop-shadow(0px 0px 1px rgba(71, 255, 255, 0.411));
    }
    figure::after
    {
        content: "New";
        position: absolute;
        line-height: 100%;
        top: 10%;
        right: 25%;
        width: 10%;
        height: 10%;
        border-radius: 30px;
        background: rgb(123, 250, 38);
        padding: 3px 5px;
        border: 1px solid #31287c;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.sec1
{
    transition: 0.2s linear;
    border-radius: 20px;
    background: linear-gradient(to left, rgba(53, 22, 22, 0.5), rgba(0, 0, 0, 0.5), rgba(11, 29, 53, 0.5));
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    figure:nth-child(odd):hover,
    figure:nth-child(odd):focus
    {
        .details
        {
            transform: translateX(400px);
            color: white;
            .topbg
            {
                background: rgb(59, 59, 59);
            }
            .downbg
            {
                background: rgb(41, 41, 41);
            }
        }
    }
    figure:nth-child(even):hover,
    figure:nth-child(even):focus
    {
        .details
        {
            transform: translateX(-400px);
            color: white;
            .topbg
            {
                background: rgb(59, 59, 59);
            }
            .downbg
            {
                background: rgb(41, 41, 41);
            }
        }
    }
    figure:focus
    {
        outline: 3px solid skyblue;
        box-shadow: 0px 0px 25px 3px rgb(201, 201, 201);
    }
    figure
    {
        width: 100%;
        height: 100%;
        max-width: 340px;
        max-height: 360px;
        margin: 15px;
        background: rgb(235, 235, 235);
        position: relative;
        .imgBx
        {
            pointer-events: none;
            width: 100%;
            height: 360px;
            transition: 0.4s ease-in-out;
            position: relative;
            img
            {
                transition: 0.4s ease-in-out;
                transform: scale(0.9);
                width: 100%;
                height: 80%;
            }
            figcaption
            {
                position: absolute;
                width: 100%;
                text-align: center;
                bottom: 10%;
            }
        }
        .details
        {
            z-index: -1;
            transition: .5s ease-in-out;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            .topbg
            {
                padding: 30px 20px 0 20px;
                width: 100%;
                height: 100%;
                max-height: 80%;
                background: rgba(255, 255, 255, 0.4);
                h3
                {
                    font-size: 1em;
                }
                p
                {
                    font-size: 0.8em;
                }
                hr
                {
                    border-top: none;
                    border-bottom: 1px solid black;
                    margin: 10px 0;
                }
                span
                {
                    font-size: 0.85em;
                }
            }
            .downbg
            {
                position: relative;
                width: 100%;
                height: 100%;
                max-height: 20%;
                background: rgb(223, 223, 223);
                font-size: 0.8em;
                .box
                {
                    display: inline-block;
                    width: 49%;
                    height: 100%;
                    text-align: left;
                    padding: 10px 20px;
                    dt
                    {
                        display: inline-block;
                        width: 50%;
                    }
                    dd
                    {
                        display: inline;
                    }
                }
            }
            .downbg::before
            {
                content: "";
                position: absolute;
                top: 12.5%;
                left: 50%;
                width: 1px;
                height: 80%;
                background: black;
            }
        }
    }
    figure:hover
    {
        img
        {
            transform: scale(1);
        }
    }
}
.sectionList
{
    width: 100vw;
    height: 100vh;
    transition: 1s cubic-bezier(0.565, 0.150, 0.000, 0.720);
    position: fixed;
    top: 0;
    left: 0;
    font-size: 1.5em;
    pointer-events: all;
    .menuitem
    {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color: white;
        pointer-events: none;
        .imgBx
        {
            display: inline-block;
            width: 40%;
            height: 50%;
            margin: 20px;
            box-shadow: -10px 10px 0px 0px rgb(170, 170, 170),
            inset -10px 10px 150px 0 rgb(255, 255, 255);
            display: flex;
            justify-content: center;
            align-items: flex-start;
            position: relative;
            pointer-events: all;
            figcaption
            {
                position: absolute;
                bottom: 20%;
                font-size: 2em;
            }
            img
            {
                margin-top: 20px;
                transform: rotate(-15deg);
                transition: .3s ease-in-out;
            }
        }
        .imgBx:hover
        {
            img
            {
                transform: rotate(15deg)
            }
        }
        .details
        {
            z-index: -1;
            transform: translateX(-103%);
            opacity: 0;
            visibility: hidden;
            width: 40%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            box-shadow: inset 0px 0px 400px 10px black;
            padding: 20px;
            transition: 1.2s cubic-bezier(0.455, 0.030, 0.515, 0.955);
            position: relative;
            .topbg
            {
                width: 100%;
                height: 30vh;
                hr
                {
                    border-top: none;
                    width: 30%;
                    margin: 10px 0;
                }
            }
            .downbg
            {
                width: 100%;
                dt
                {
                    line-height: 2em;
                    display: inline-block;
                }
                dd
                {
                    display: inline;
                }
            }
            .buybtn
            {
                position: absolute;
                bottom: 0;
                right: 0;
                border: 2px solid black;
                color: white;
                background: rgb(94, 94, 94);
                font-size: 1.2em;
                padding: 5px 10px;
                cursor: pointer;
                pointer-events: all;
            }
        }
    }
}
.sectionList:nth-child(1)
{
    background: rgb(71, 71, 71);
    transform: translateX(-100%);
}
.sectionList:nth-child(2)
{
    background: rgb(170, 43, 43);
    transform: translateY(-100%);
}
.sectionList:nth-child(3)
{
    background: rgb(37, 37, 151);
    transform: translateX(100%);
}
.sectionList:nth-child(4)
{
    background: rgb(100, 155, 28);
    transform: translateY(100%);
}
.sectionList:nth-child(5)
{
    background: rgb(0, 195, 255);
    transform: translateX(-100%);
}
.sectionList:nth-child(6)
{
    background: rgb(0, 81, 255);
    transform: translateY(-100%);
}
.sectionList:nth-child(7)
{
    background: rgb(140, 0, 255);
    transform: translateX(100%);
}
.sectionList:nth-child(8)
{
    background: rgb(255, 0, 179);
    transform: translateY(100%);
}
.sectionList.active
{
    .imgBx + .details
    {
        opacity: 1;
        visibility: unset;
        transform: translateX(0);
    }
}
.sectionList.active
{
    transform: translateX(0%);
}
.section-container.active
{  
    svg
    {
        transition: 0.5s ease-in-out;
        position: fixed;
        top: 100px;
        left: 0;
        transform: translateX(0%) scale(0.8);
        path
        {
            stroke-dasharray: 100;
            stroke-dashoffset: 0;
            animation: pathdash 3s linear forwards;
        }
    }
}
@keyframes pathdash
{
    0%
    {
        stroke-dashoffset: 0;
    }
    40%
    {
        stroke-dasharray: 30;
        stroke-dashoffset: 40;
        fill: black;
    }
    80%
    {
        stroke-dasharray: 15;
        stroke-dashoffset: 20;
    }
    100%
    {
        stroke-dasharray: 360;
        stroke-dashoffset: 0;
        fill: #31287c;
     
    }
}
.section-container
{
    position: fixed;
    svg
    {
        transition: 0.5s ease-in-out;
        position: fixed;
        top: 100px;
        left: 0;
        transform: translateX(-100%);
    }
    .closeList:focus
    {
        outline: 2px solid white;
    }
    .closeList
    {
        background: none;
        border: none;
        position: fixed;
        top: 50%;
        right: 10px;
        animation: arrowanim 3s ease-in-out infinite;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        z-index: 100;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        mix-blend-mode: difference;
        transition-delay: 0s;
        font-size: 0;
    }
    .closeList::before
    {
        content: "";
        width:  30px;
        height: 3px;
        background:rgb(255, 255, 255);
    }
    .closeList::after
    {
        content: "";
        position: absolute;
        right: 11px;
        width:  10px;
        height: 10px;
        border: 3px solid rgb(255, 255, 255);
        border-left:transparent;
        border-bottom: transparent;
        transform: rotate(45deg);
    }
}
.clouds
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100vw;
    height: 100%;
    // overflow: hidden; //??
    pointer-events: none;
    z-index: -100;
    img
    {
        position: absolute;
        bottom: 0px;
        left: 0;
        max-width: 100%;
        height: 40%;
        filter: invert(48%) sepia(13%) saturate(127%) brightness(95%) contrast(20%) drop-shadow(0px 0px 5px #fff);
        animation: cloudanim calc(12s * var(--i)) linear infinite;
    }
}
.waves
{
    width: 100vw;
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

@keyframes cloudanim
{
    0%
    {
        transform: translateX(-100%);
    }
    100%
    {
        transform: translateX(300%);
    }
}
.testanimejs
{
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    h2
    {
        text-align: center;
        width: 100%;
        font-size: 3em;
    }
    .square,
    .cube,
    .greenbox,
    .testalt
    {
        display:inline-block;
        width: 100px;
        height: 100px;
        background: red;
    }
    .cube
    {
        background: rgb(0, 132, 255);
    }
    .greenbox
    {
        background: rgb(43, 255, 0);
    }
}

@keyframes arrowanim
{
    0%,100%
    {
        
    }
    50%
    {
        transform: scale(1.5);
    }
  
}
@media (max-height: 700px)
{
    header
    {
        height: 60px;
        .open-btn
        {
            height: 100% !important;
        }
        nav
        {
            ul
            {
                li
                {
                    width: 100%;
                    a
                    {
                        padding: 0.4em !important;
                    }
                }
            }
        }
    }
}
@media (max-width: 1000px)
{
    body
    {
        font-size: 14px;
    }
    header
    {
        padding: 0 0 0px 10px;
    }
    header.active
    {
        nav
        {
            ul
            {
                position: absolute;
                top: 15%;
                font-size: 0.8em;
                width: 100%;
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                li
                {
                    width: 100%;
                }
            }
        }
    }
    main .sec1 figure .details
    {
        display: none !important;
    }
    .section-container.active
    {
        svg
        {
            transform: scale(0.3) translateX(-100%) !important;
        }
    }
    svg
    {
        transform: scale(0.3) translateX(-300%) !important;
    }
    .section-container
    {
        width: 100vw !important;
        height: 100vh !important;
        figure
        {
            width: 100% !important;
            height: 100% !important;
            font-size: 12px !important;
            .imgBx
            {
                box-shadow: none !important;
                width: 100% !important;
                height: 60% !important;
                figcaption
                {
                    font-size: 1.5em !important;
                    bottom: 0 !important;
                }
                img
                {
                    align-self: center;
                }
            }
            .details
            {
                padding-top: 0 !important;
                width: 100% !important;
                height: 40% !important;
                .topbg,
                .downbg
                {
                    padding: 10px 0;
                    height: 50% !important;
                }
            }
        }

    }
}