::-webkit-scrollbar
{
    width: 0;
}
a
{
    text-decoration: none;
    color: black;
}
body
{
    min-height: 100vh;;
}
.header-clearfix
{
    width: 100%;
    height: 123px;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background: #f6f5ef;
    width: 100%;
    height: 123px;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    align-items: center;
    padding: 0 30px;
    border-top: 2px solid black;
    padding-top: 5px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    .logo
    {
        position: relative;
        top: -20px;
        width: 75px;
        height: 75px;
        background: url(https://www.istarbucks.co.kr/common/img/common/logo.png) no-repeat;
        a
        {
            color: transparent;
            padding: 15px;
        }//로고 a 끝
    }//로고 끝나는 지점
    nav
    {
        width: 100%;
        margin-right: 60px;
        ul
        {
            float: right;
            align-self: flex-end;
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            li
            {
                align-self: flex-end;
                font-size: 0.8em;
                a
                {
                    padding: 0px 10px;
                }
            }//li 끝나는 지점
            span
            {
                align-self: flex-end;
                font-size: 0.8em;
                opacity: .3;
            } //span 끝
            .search
            {
                input
                {
                    width: 30px;
                    height: 30px;
                    padding: 0 15px;
                    position: absolute;
                    right: 60px;
                    top: 7px;
                    border-radius: 5px;
                    border: 1px solid rgb(185, 185, 185);
                    transition: .5s;
                } //서치-인풋 끝
                input.active
                {
                    width: 510px;
                }
                a
                {
                    position: relative;
                    top: 6px;
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    padding: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                } //서치 앵커 끝
            } //서치 끝
        } //ul 끝
    } //nav 끝
    .menu-list
    {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        text-transform: uppercase;
        font-size: 1em;
        li
        {
            a
            {
                line-height: 90px;
                padding: 0 27px;
                padding-bottom: 42px;
            } //a 끝
        } //li 끝
    } //메뉴 끝
} //헤드 끝나는 지점
.sec1
{
    position: relative;
    width: 100%;
    height: 646px;
    background: #fce6e9 url(https://image.istarbucks.co.kr/upload/common/img/main/2020/20_blossom_bev_bg.jpg) no-repeat center center;
    // background-position: bottom center;
    background-size: cover;
    .rubyimg
    {
        width: 100%;
        height: 646px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        .ruby1
        {
            position: absolute;
            top: 45.8%;
            left: 38.8%;
            display: block;
            width: 358px;
            height: 301px;
            a
            {
                width: 240px;
                height: 240px;
            }
        }
        .ruby2
        {
            position: absolute;
            top: 8.5%;
            left: 41%;
            display: block;
            width: 612px;
            height: 433px;
            a
            {
                width: 180px;
                height: 380px;
            }
        }
        .ruby3
        {
            position: absolute;
            top: 32.7%;
            left: 65.05%;
            display: block;
            width: 375px;
            height: 427px;
            a
            {
                width: 195px;
                height: 285px;
            }
        }
        .rubytext
        {
            position: absolute;
            top: 11%;
            left: 18%;
            width: 346px;
            height: 189px;
        }
        .detail-btn
        {
            cursor: pointer;
            padding: 3px 5px;
            background: none;
            position: absolute;
            top: 46.5%;
            left: 23.4%;
            width: 120px;
            height: 35px;
            text-align: center;
            border: 2px solid #d35b44;
            border-radius: 3px;
            font-weight: 900;
            color: #d35b44;
            transition: .5s;
        }
        .detail-btn:hover
        {
            background: #d35b44;
            color: white;
            text-decoration: underline;
        }
    }//루비이미지 끝   
} //세션1 끝
.rubyimg img
{
    width: 100%;
    height: 100%;
}
.notice
{
    width: 100%;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    .blacknotice
    {
        width: 55%;
        height: 100%;
        transition: .6s;
        background: rgb(0, 0, 0);
        padding: 0 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        h2
        {
            width: 47%;
            text-align: right;
            color: white;
            font-size: 1em;
            padding: 0 20px;
        } 
        a
        {
            width: 53%;
            text-align: left;
            text-decoration: none;
            color: white;
            font-size: 0.85em;
        }
        a:hover
        {
            text-decoration: underline;
        }
        button
        {
            cursor: pointer;
            border: none;
            width: 36px;
            height: 36px;
            padding-right: 30px;
            overflow: hidden;
            background: url(https://www.starbucks.co.kr/common/img/common/btn_notice_plus.png) no-repeat 0 0;
            background-size: cover;
            a
            {
                display: block;
                width: 100%;
                height: 100%;
            }//a 끝
        }//버튼 끝
    }//블랙노티스 끝
    .whitenotice
    {
        width: 45%;
        height: 100%;
        background: #f6f5ef;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 20%;
        a
        {
            position: relative;
            display: block;
            font-weight: bold;
            font-size: 1.1em;
            padding: 20 100px;
            z-index: 10;
            // button
            // {
            //     z-index: 10;
            //     position: absolute;
            //     top: 35%;
            //     right: -20%;
            //     border: none;
            //     cursor: pointer;
            //     width: 36px;
            //     height: 36px;

            //     background: url(https://image.istarbucks.co.kr/common/img/common/btn_prom_down.png) no-repeat;
            //     background-size: cover;
            // }
            // button.active
            // {
            //     transform: rotate(180deg);
            // }
        }
        a::after
        {
            content: "";
            position: absolute;
            top: -5px;
            right: -100px;
            width: 36px;
            height: 36px;
            background: url(https://image.istarbucks.co.kr/common/img/common/btn_prom_down.png) no-repeat;
            background-size: cover;
        }
        a.active::after
        {
            transform: rotate(180deg);
        }
    }//화이트노티스 끝
}//노티스 끝
aside
{
    z-index: 1000000000000000;
    position: fixed;
    width: 138px;
    height: 250px;
    left: 80.5%;
    top: 138px;
    background: url(https://image.istarbucks.co.kr/upload/common/img/main/2020/badge_main_blossom.png) no-repeat;
    a
    {
        display: block;
        width: 100%;
        height: 100%;
    }
}
.promotion-banner
{
    background: #f6f5ef;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    transition: .5s;
    .imgBx
    {
        position: relative;
        opacity: 0;
        transition: .5s;
        transition-delay: -0.25s;
        img
        {
            margin: 30px 100px;
            display: inline-block;
            width: 819px;
            height: 553px;
        }
        .detail-btn
        {
            cursor: pointer;
            padding: 3px 5px;
            background: none;
            position: absolute;
            bottom: 10%;
            right: 35%;
            width: 120px;
            height: 35px;
            text-align: center;
            border: 2px solid #000;
            border-radius: 3px;
            font-weight: 900;
            color: #161616;
            transition: .5s;
        }
        .detail-btn:hover
        {
            background: #161616;
            color: white;
            text-decoration: underline;
        }
    }
}

.promotion-banner.active
{
    height: 70vh;
    .imgBx
    {
        transition-delay: 0.2s;
        opacity: 1;
    }
}
.reward
{
    position: relative;
    width: 100%;
    background: #272727;
    height: 25vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .star
    {
        position: relative;
        left: 20%;
        width: 55%;
        height: 100%;
        z-index: 2;
        .starimg
        {
            position: relative;
            width: 40%;
            height: 100%;
            background: url(https://www.starbucks.co.kr/common/img/main/reward_star_bg_w.png) no-repeat;
            background-size: cover;
            background-position: center;
            img
            {
                position: absolute;
                top: 100px;
                left: 100px;
            }
        }
    }
    .starbg
    {
        position: absolute;
        right: 0;
        width: 70%;
        height: 100%;
        z-index: 1;
        .bgimg
        {
            width: 100%;
            height: 100%;
            background: url(https://www.starbucks.co.kr/common/img/main/reward_texbg.jpg) no-repeat;
            background-size: cover;
            .imgBx
            {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 25%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-flow: column;
                img:nth-child(1)
                {
                    max-width: 100%;
                    margin-top: 20px;
                    margin-bottom: 30px;
                }
                img:nth-child(2)
                {
                    max-width: 100%;
                }
            }
        }
    }//배경 끝
}//리워드 끝
.sec2
{
    min-width: 100%;
    height: 573px;
    overflow: hidden;
    background: url(http://image.istarbucks.co.kr/upload/common/img/main/2020/20_spring_coffee_bg.jpg) no-repeat;
    background-size: cover;
    .Max1200
    {
        .imgBx
        {
            width: 373px;
            height: 444px;
            img
            {
                max-width: 100%;
            }
        }
        .details
        {
            img
            {
                display: block;
            }
            button
            {
                cursor: pointer;
                padding: 3px 5px;
                background: none;
                margin-top: 20px;
                width: 120px;
                height: 35px;
                text-align: center;
                border: 2px solid #292929;
                border-radius: 3px;
                font-weight: 900;
                color: #292929;
                transition: .5s;
            }
            button:hover
            {
                background: #3a3a3a;
                color: white;
                text-decoration: underline;
            }
        }
    }
}
.small-banner
{
    width: 100%;
    height: 400px;
    background: rgb(0, 0, 0) url(http://image.istarbucks.co.kr/upload/common/img/main/2020/20_spring_reserve_bean.png) no-repeat;
    background-size: cover;
    .Max1200
    {
        .imgBx
        {
            img
            {
                display: block;
            }
            button
            {
                cursor: pointer;
                padding: 3px 5px;
                background: none;
                margin-top: 20px;
                position: relative;
                left: 26%;
                width: 120px;
                height: 35px;
                text-align: center;
                border: 2px solid #ffffff;
                border-radius: 3px;
                font-weight: 900;
                color: #fff;
                transition: .5s;
            }
            button:hover
            {
                background: #dddddd;
                color: rgb(226, 152, 15);
                text-decoration: underline;
            }
        }
    }
}
.sec3
{
    width: 100%;
    height: 86vh;
    background: url(https://www.starbucks.co.kr/common/img/main/mob_fav_prod_bg_new.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 30%;
    .Max1200-center
    {
        .imgBx
        {
            margin-right: 5%;
            img:nth-child(1)
            {
                margin-left: auto;
                margin-bottom: 40px;
            }
            img
            {
                display: block;
            }
            button
            {
                cursor: pointer;
                padding: 3px 5px;
                background: none;
                margin-top: 40px;
                position: relative;
                left: 26%;
                width: 120px;
                height: 35px;
                text-align: center;
                border: 2px solid #ffffff;
                border-radius: 3px;
                font-weight: 900;
                color: #fff;
                transition: .5s;
                margin-left: 140px;
            }
            button:hover
            {
                background: #ffffff;
                color: black;
                text-decoration: underline;
            }
        }
    }
}
.sec4
{
    width: 100%;
    height: 40vh;
    background: url(https://www.starbucks.co.kr/common/img/main/reserve_bg.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    .imgBx
    {
        position: relative;
        transform-style: preserve-3d;
        transition: all .5s ease-in-out;
        width: 334px;
        height: 334px;
        .front
        {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            transition: .5s;
            transform: rotateY(0deg);
            backface-visibility: hidden;
            background: url(https://www.starbucks.co.kr/common/img/main/reserve_medal01.png) no-repeat;
            z-index:2;
        }
        .back
        {
            width: 100%;
            height: 100%;   
            position: absolute;
            transform: rotateY(180deg);
            backface-visibility: hidden;
            background: url(https://www.starbucks.co.kr/common/img/main/reserve_medal02.png) no-repeat;
            z-index:1;
            transition: .5s;
        }
    }
    .imgBx:hover
    {
        .front
        {
            transform: rotateY(-180deg);
        }
        .back
        {
            transform: rotateY(0deg);
        }
    }
    .imgBx:hover
    {

    }
}
.sec5
{
    width: 100%;
    height: 400px;
    background: url(https://www.starbucks.co.kr/common/img/main/store_bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    .Max1200
    {
        .imgBx
        {
            img:nth-child(1)
            {
                position: absolute;
                top: 0;
                left: 10%;
                z-index: 1;
            }
            img:nth-child(2)
            {
                position: absolute;
                bottom: 10%;
                left: 30%;
                z-index: 2;
            }
            img:nth-child(3)
            {
                position: absolute;
                top: -15%;
                left: 40%;
                z-index: 3;
            }
            img:nth-child(4)
            {
                position: absolute;
                top: 25%;
                left: 50%;
                z-index: 3;
            }
            img:nth-child(5)
            {
                position: absolute;
                top: 42%;
                left: 50%;
                z-index: 3;
            }
            img:nth-child(6)
            {
                position: absolute;
                bottom: 0;
                left: 80%;
                z-index: 3;
            }
            button
            {
                position: absolute;
                top: 64%;
                left: 50%;
                cursor: pointer;
                padding: 3px 5px;
                background: none;
                width: 120px;
                height: 35px;
                text-align: center;
                border: 2px solid #000000;
                border-radius: 3px;
                font-weight: 900;
                color: rgb(0, 0, 0);
                transition: .5s;
            }
            button:hover
            {
                background: rgb(31, 31, 31);
                color: white;
                text-decoration: underline;
            }
        }
    }

}
footer
{
    width: 100%;
    height: 100vh;
    background: #2C2A29;
}
.Max1200
{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    align-items: center;
    width: 1200px;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.Max1200-center
{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}
.wrap
{
    width: 100%;
    overflow: hidden;
}
